## Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

## SQLite & DBs
*.db
*.db-shm
*.db-wal

## Packages & Binaries
*.apk
*.aab
*.keystore
*.jks

## Logs & Temp
*.log
.DS_Store
Thumbs.db
